:root {
	--bg: #0b0e14;
	--fg: #bfbdb6;
	--red: #ea6c73;
	--green: #7fd962;
	--blue: #53bdfa;
	--black: #11151c;
	--white: #c7c7c7;
	--magenta: #cda1fa;
	--cyan: #90e1c6;
	--yellow: #f9af4f;
	--bright-red: #f07178;
	--bright-green: #aad94c;
	--bright-blue: #59c2ff;
	--bright-black: #686868;
	--bright-white: #ffffff;
	--bright-cyan: #95e6cb;
	--bright-magenta: #d2a6ff;
	--bright-yellow: #ffb454;
}