:root {
	--bg: #20111b;
	--fg: #968c83;
	--red: #be100e;
	--green: #858162;
	--blue: #426a79;
	--black: #20111b;
	--white: #968c83;
	--magenta: #97522c;
	--cyan: #989a9c;
	--yellow: #eaa549;
	--bright-red: #be100e;
	--bright-green: #858162;
	--bright-blue: #426a79;
	--bright-black: #5e5252;
	--bright-white: #d5ccba;
	--bright-cyan: #989a9c;
	--bright-magenta: #97522c;
	--bright-yellow: #eaa549;
}