:root {
	--bg: #000000;
	--fg: #bbbbbb;
	--red: #bb0000;
	--green: #00bb00;
	--blue: #0d0dc8;
	--black: #000000;
	--white: #bbbbbb;
	--magenta: #bb00bb;
	--cyan: #00bbbb;
	--yellow: #bbbb00;
	--bright-red: #ff5555;
	--bright-green: #55ff55;
	--bright-blue: #5555ff;
	--bright-black: #555555;
	--bright-white: #ffffff;
	--bright-cyan: #55ffff;
	--bright-magenta: #ff55ff;
	--bright-yellow: #ffff55;
}