:root {
	--bg: #121212;
	--fg: #bfbfbf;
	--red: #ff5454;
	--green: #00cc7a;
	--blue: #00bfff;
	--black: #404040;
	--white: #bfbfbf;
	--magenta: #ff90fe;
	--cyan: #48d1cc;
	--yellow: #ffd400;
	--bright-red: #ff1a75;
	--bright-green: #1affa3;
	--bright-blue: #33cfff;
	--bright-black: #808080;
	--bright-white: #f9f9f9;
	--bright-cyan: #00fff2;
	--bright-magenta: #ffb2fe;
	--bright-yellow: #ffff00;
}