:root {
	--bg: #000000;
	--fg: #ffffff;
	--red: #ff5555;
	--green: #55ff55;
	--blue: #5555ff;
	--black: #000000;
	--white: #bbbbbb;
	--magenta: #ff55ff;
	--cyan: #55ffff;
	--yellow: #ffff55;
	--bright-red: #ff5555;
	--bright-green: #55ff55;
	--bright-blue: #5555ff;
	--bright-black: #555555;
	--bright-white: #ffffff;
	--bright-cyan: #55ffff;
	--bright-magenta: #ff55ff;
	--bright-yellow: #ffff55;
}