:root {
	--bg: #070c0e;
	--fg: #3e5715;
	--red: #006536;
	--green: #6fa64c;
	--blue: #2c9a84;
	--black: #091013;
	--white: #006536;
	--magenta: #523a60;
	--cyan: #114d53;
	--yellow: #7e8000;
	--bright-red: #00733d;
	--bright-green: #90d762;
	--bright-blue: #46d8b8;
	--bright-black: #404040;
	--bright-white: #006536;
	--bright-cyan: #12545a;
	--bright-magenta: #573d66;
	--bright-yellow: #e2e500;
}