:root {
	--bg: #282c34;
	--fg: #ffffff;
	--red: #cc6566;
	--green: #b6bd68;
	--blue: #82a2be;
	--black: #1d1f21;
	--white: #c4c8c6;
	--magenta: #b294bb;
	--cyan: #8abeb7;
	--yellow: #f0c674;
	--bright-red: #d54e53;
	--bright-green: #b9ca4b;
	--bright-blue: #7aa6da;
	--bright-black: #666666;
	--bright-white: #eaeaea;
	--bright-cyan: #70c0b1;
	--bright-magenta: #c397d8;
	--bright-yellow: #e7c547;
}