:root {
	--bg: #1d1d1d;
	--fg: #d9d9d9;
	--red: #e85181;
	--green: #7ad694;
	--blue: #5aa0d6;
	--black: #333333;
	--white: #d9d9d9;
	--magenta: #9a90e0;
	--cyan: #58d6ce;
	--yellow: #b7d074;
	--bright-red: #e85181;
	--bright-green: #afd7af;
	--bright-blue: #64b2ed;
	--bright-black: #808080;
	--bright-white: #ededed;
	--bright-cyan: #61ede4;
	--bright-magenta: #a398ed;
	--bright-yellow: #d1ed85;
}