:root {
	--bg: #132638;
	--fg: #ede4e4;
	--red: #c94922;
	--green: #ac9739;
	--blue: #3d8fd1;
	--black: #202746;
	--white: #979db4;
	--magenta: #6679cc;
	--cyan: #22a2c9;
	--yellow: #c08b30;
	--bright-red: #c76b29;
	--bright-green: #73ad43;
	--bright-blue: #898ea4;
	--bright-black: #6b7394;
	--bright-white: #f5f7ff;
	--bright-cyan: #9c637a;
	--bright-magenta: #dfe2f1;
	--bright-yellow: #5e6687;
}