:root {
	--bg: #ea3323;
	--fg: #ffffff;
	--red: #ffff54;
	--green: #ffff54;
	--blue: #000000;
	--black: #000000;
	--white: #c6c6c6;
	--magenta: #ffff54;
	--cyan: #ffffff;
	--yellow: #ffff54;
	--bright-red: #ffff54;
	--bright-green: #ffff54;
	--bright-blue: #000000;
	--bright-black: #000000;
	--bright-white: #c6c6c6;
	--bright-cyan: #ffffff;
	--bright-magenta: #ffff54;
	--bright-yellow: #ffff54;
}