:root {
	--bg: #000000;
	--fg: #c4c4c4;
	--red: #c40000;
	--green: #00c400;
	--blue: #0000c4;
	--black: #000000;
	--white: #c4c4c4;
	--magenta: #c400c4;
	--cyan: #00c4c4;
	--yellow: #c47e00;
	--bright-red: #dc4e4e;
	--bright-green: #4edc4e;
	--bright-blue: #4e4edc;
	--bright-black: #4e4e4e;
	--bright-white: #ffffff;
	--bright-cyan: #4ef3f3;
	--bright-magenta: #f34ef3;
	--bright-yellow: #f3f34e;
}