:root {
	--bg: #000043;
	--fg: #f2f2f2;
	--red: #ff2b1e;
	--green: #57ff3d;
	--blue: #0004ff;
	--black: #1a1919;
	--white: #ffffff;
	--magenta: #ff2cff;
	--cyan: #56ffff;
	--yellow: #ffff44;
	--bright-red: #ffff44;
	--bright-green: #ffff44;
	--bright-blue: #ffff44;
	--bright-black: #ffff44;
	--bright-white: #ffff44;
	--bright-cyan: #ffff44;
	--bright-magenta: #ffff44;
	--bright-yellow: #fffc72;
}