:root {
	--bg: #2c1d16;
	--fg: #ffcc2f;
	--red: #ef5734;
	--green: #2baf2b;
	--blue: #246eb2;
	--black: #2c1d16;
	--white: #bfbfbf;
	--magenta: #d05ec1;
	--cyan: #00acee;
	--yellow: #bebf00;
	--bright-red: #e50000;
	--bright-green: #86a93e;
	--bright-blue: #0000ff;
	--bright-black: #666666;
	--bright-white: #e5e5e5;
	--bright-cyan: #00e5e5;
	--bright-magenta: #e500e5;
	--bright-yellow: #e5e500;
}