:root {
	--bg: #0f191c;
	--fg: #426644;
	--red: #23755a;
	--green: #82d967;
	--blue: #3f5242;
	--black: #0f191c;
	--white: #507350;
	--magenta: #409931;
	--cyan: #50b45a;
	--yellow: #ffd700;
	--bright-red: #2fc079;
	--bright-green: #90d762;
	--bright-blue: #4f7e7e;
	--bright-black: #688060;
	--bright-white: #678c61;
	--bright-cyan: #c1ff8a;
	--bright-magenta: #11ff25;
	--bright-yellow: #faff00;
}