:root {
	--bg: #fafafa;
	--fg: #383a42;
	--red: #e45649;
	--green: #50a14f;
	--blue: #0184bc;
	--black: #383a42;
	--white: #bababa;
	--magenta: #a626a4;
	--cyan: #0997b3;
	--yellow: #c18401;
	--bright-red: #e06c75;
	--bright-green: #98c379;
	--bright-blue: #61afef;
	--bright-black: #4f525e;
	--bright-white: #ffffff;
	--bright-cyan: #56b6c2;
	--bright-magenta: #c678dd;
	--bright-yellow: #d8b36e;
}