:root {
	--bg: #0e1729;
	--fg: #ced2d6;
	--red: #ffa7c4;
	--green: #85cc95;
	--blue: #8dabe1;
	--black: #0a1222;
	--white: #ffffff;
	--magenta: #c792eb;
	--cyan: #78ccf0;
	--yellow: #ffcb8b;
	--bright-red: #ffa7c4;
	--bright-green: #85cc95;
	--bright-blue: #8dabe1;
	--bright-black: #575656;
	--bright-white: #ffffff;
	--bright-cyan: #ffa7c4;
	--bright-magenta: #c792eb;
	--bright-yellow: #ffcb8b;
}