:root {
	--bg: #3e4251;
	--fg: #cccccc;
	--red: #f07178;
	--green: #c3e88d;
	--blue: #82aaff;
	--black: #000000;
	--white: #ffffff;
	--magenta: #c792ea;
	--cyan: #89ddff;
	--yellow: #ffcb6b;
	--bright-red: #f6a9ae;
	--bright-green: #dbf1ba;
	--bright-blue: #b4ccff;
	--bright-black: #737373;
	--bright-white: #999999;
	--bright-cyan: #b8eaff;
	--bright-magenta: #ddbdf2;
	--bright-yellow: #ffdfa6;
}