:root {
	--bg: #141e43;
	--fg: #e1e1e1;
	--red: #ff4242;
	--green: #74af68;
	--blue: #338f86;
	--black: #000000;
	--white: #e2e2e2;
	--magenta: #9414e6;
	--cyan: #23d7d7;
	--yellow: #ffad29;
	--bright-red: #ff3242;
	--bright-green: #74cd68;
	--bright-blue: #23d7d7;
	--bright-black: #3f5648;
	--bright-white: #ffffff;
	--bright-cyan: #00ede1;
	--bright-magenta: #ff37ff;
	--bright-yellow: #ffb929;
}