:root {
	--bg: #ffffff;
	--fg: #414141;
	--red: #b23771;
	--green: #66781e;
	--blue: #3c5ea8;
	--black: #414141;
	--white: #bfbfbf;
	--magenta: #a454b2;
	--cyan: #66781e;
	--yellow: #cd6f34;
	--bright-red: #db3365;
	--bright-green: #829429;
	--bright-blue: #3c5ea8;
	--bright-black: #3f3f3f;
	--bright-white: #f2f2f2;
	--bright-cyan: #829429;
	--bright-magenta: #a454b2;
	--bright-yellow: #cd6f34;
}