:root {
	--bg: #181921;
	--fg: #ebdbb2;
	--red: #cc241d;
	--green: #98971a;
	--blue: #458588;
	--black: #1d2021;
	--white: #a89984;
	--magenta: #b16286;
	--cyan: #689d6a;
	--yellow: #d79921;
	--bright-red: #f42c3e;
	--bright-green: #b8bb26;
	--bright-blue: #99c6ca;
	--bright-black: #928374;
	--bright-white: #ebdbb2;
	--bright-cyan: #7ec16e;
	--bright-magenta: #d3869b;
	--bright-yellow: #fabd2f;
}