:root {
	--bg: #000000;
	--fg: #f2f2f2;
	--red: #990000;
	--green: #00a600;
	--blue: #2009db;
	--black: #000000;
	--white: #bfbfbf;
	--magenta: #b200b2;
	--cyan: #00a6b2;
	--yellow: #999900;
	--bright-red: #e50000;
	--bright-green: #00d900;
	--bright-blue: #0000ff;
	--bright-black: #666666;
	--bright-white: #e5e5e5;
	--bright-cyan: #00e5e5;
	--bright-magenta: #e500e5;
	--bright-yellow: #e5e500;
}