:root {
	--bg: #353a44;
	--fg: #d9d9d9;
	--red: #bc5653;
	--green: #909d63;
	--blue: #6a8799;
	--black: #151515;
	--white: #d9d9d9;
	--magenta: #b06698;
	--cyan: #c9dfff;
	--yellow: #ebc17a;
	--bright-red: #bc5653;
	--bright-green: #a0ac77;
	--bright-blue: #7eaac7;
	--bright-black: #636363;
	--bright-white: #f7f7f7;
	--bright-cyan: #acbbd0;
	--bright-magenta: #b06698;
	--bright-yellow: #ebc17a;
}