:root {
	--bg: #000000;
	--fg: #13a10e;
	--red: #13a10e;
	--green: #13a10e;
	--blue: #13a10e;
	--black: #13a10e;
	--white: #13a10e;
	--magenta: #13a10e;
	--cyan: #13a10e;
	--yellow: #13a10e;
	--bright-red: #16ba10;
	--bright-green: #16ba10;
	--bright-blue: #16ba10;
	--bright-black: #16ba10;
	--bright-white: #16ba10;
	--bright-cyan: #16ba10;
	--bright-magenta: #16ba10;
	--bright-yellow: #16ba10;
}