:root {
	--bg: #232136;
	--fg: #e0def4;
	--red: #eb6f92;
	--green: #3e8fb0;
	--blue: #9ccfd8;
	--black: #393552;
	--white: #e0def4;
	--magenta: #c4a7e7;
	--cyan: #ea9a97;
	--yellow: #f6c177;
	--bright-red: #eb6f92;
	--bright-green: #3e8fb0;
	--bright-blue: #9ccfd8;
	--bright-black: #6e6a86;
	--bright-white: #e0def4;
	--bright-cyan: #ea9a97;
	--bright-magenta: #c4a7e7;
	--bright-yellow: #f6c177;
}