:root {
	--bg: #faf4ed;
	--fg: #575279;
	--red: #b4637a;
	--green: #286983;
	--blue: #56949f;
	--black: #f2e9e1;
	--white: #575279;
	--magenta: #907aa9;
	--cyan: #d7827e;
	--yellow: #ea9d34;
	--bright-red: #b4637a;
	--bright-green: #286983;
	--bright-blue: #56949f;
	--bright-black: #9893a5;
	--bright-white: #575279;
	--bright-cyan: #d7827e;
	--bright-magenta: #907aa9;
	--bright-yellow: #ea9d34;
}