:root {
	--bg: #fbf3db;
	--fg: #53676d;
	--red: #d2212d;
	--green: #489100;
	--blue: #0072d4;
	--black: #ece3cc;
	--white: #53676d;
	--magenta: #ca4898;
	--cyan: #009c8f;
	--yellow: #ad8900;
	--bright-red: #cc1729;
	--bright-green: #428b00;
	--bright-blue: #006dce;
	--bright-black: #909995;
	--bright-white: #3a4d53;
	--bright-cyan: #00978a;
	--bright-magenta: #c44392;
	--bright-yellow: #a78300;
}