:root {
	--bg: #282a36;
	--fg: #eff0eb;
	--red: #ff5c57;
	--green: #5af78e;
	--blue: #57c7ff;
	--black: #000000;
	--white: #f1f1f0;
	--magenta: #ff6ac1;
	--cyan: #9aedfe;
	--yellow: #f3f99d;
	--bright-red: #ff5c57;
	--bright-green: #5af78e;
	--bright-blue: #57c7ff;
	--bright-black: #686868;
	--bright-white: #f1f1f0;
	--bright-cyan: #9aedfe;
	--bright-magenta: #ff6ac1;
	--bright-yellow: #f3f99d;
}