:root {
	--bg: #282c35;
	--fg: #d4d4d4;
	--red: #e15a60;
	--green: #a9cfa4;
	--blue: #6699cc;
	--black: #7f7f7f;
	--white: #d4d4d4;
	--magenta: #f1a5ab;
	--cyan: #5fb3b3;
	--yellow: #ffe2a9;
	--bright-red: #e15a60;
	--bright-green: #a9cfa4;
	--bright-blue: #6699cc;
	--bright-black: #7f7f7f;
	--bright-white: #d4d4d4;
	--bright-cyan: #5fb3b3;
	--bright-magenta: #f1a5ab;
	--bright-yellow: #ffe2a9;
}