:root {
	--bg: #141414;
	--fg: #ffffd4;
	--red: #c06d44;
	--green: #afb97a;
	--blue: #44474a;
	--black: #141414;
	--white: #ffffd4;
	--magenta: #b4be7c;
	--cyan: #778385;
	--yellow: #c2a86c;
	--bright-red: #de7c4c;
	--bright-green: #ccd88c;
	--bright-blue: #5a5e62;
	--bright-black: #404040;
	--bright-white: #ffffd4;
	--bright-cyan: #8a989b;
	--bright-magenta: #d0dc8e;
	--bright-yellow: #e2c47e;
}