:root {
	--bg: #141415;
	--fg: #cdcdcd;
	--red: #d8647e;
	--green: #7fa563;
	--blue: #6e94b2;
	--black: #252530;
	--white: #cdcdcd;
	--magenta: #bb9dbd;
	--cyan: #aeaed1;
	--yellow: #f3be7c;
	--bright-red: #e08398;
	--bright-green: #99b782;
	--bright-blue: #8ba9c1;
	--bright-black: #606079;
	--bright-white: #d7d7d7;
	--bright-cyan: #bebeda;
	--bright-magenta: #c9b1ca;
	--bright-yellow: #f5cb96;
}